:host {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.affirmations, .counter {
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 16px;
}